.list-credit-cards
{
    margin: 20px;
}
.count-card
{
 width: 24%;
 margin: 5px;
 padding: 20px;
}
.bg-info
{
    background-color: lightblue;
}
.bg-warning
{
    background-color: rgb(243, 104, 49);
}
.bg-success
{
    background-color: rgb(84, 236, 84);
}
.bg-primary
{
    background-color:rgb(238, 238, 102);
}