
<div class="list-credit-cards" style="display: flex;flex-direction: row; ">
  <mat-card class="list-credit-cards count-card bg-success">
      <mat-card-title>All Credit Cards</mat-card-title>
      <mat-card-content> 10 </mat-card-content>
  </mat-card>

  <mat-card class="list-credit-cards count-card bg-warning">
      <mat-card-title>Num of Cards with 3000</mat-card-title>
      <mat-card-content> 8 </mat-card-content>
  </mat-card>

  <mat-card class="list-credit-cards count-card bg-info">
      <mat-card-title> Active Credit Cards</mat-card-title>
      <mat-card-content> 10 </mat-card-content>
  </mat-card>

  <mat-card class="list-credit-cards count-card bg-primary">
      <mat-card-title>Best Cards</mat-card-title>
      <mat-card-content> 10 </mat-card-content>
  </mat-card>

</div>



<mat-card class="list-credit-cards">
    <mat-card-header>
      <mat-card-title>Listing All Credit Cards</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource] ="dataSource" matSort>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
               <mat-checkbox></mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>
                  <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{element.name}}</td>
          </ng-container>
                  <ng-container matColumnDef="bankname">
            <th mat-header-cell *matHeaderCellDef>Bank Name</th>
            <td mat-cell *matCellDef="let element">{{element.bankname}}</td>
          </ng-container>
                  <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">{{element.description}}</td>
          </ng-container>
                  <ng-container matColumnDef="maxCredit">
            <th mat-header-cell *matHeaderCellDef>MaxCredit</th>
            <td mat-cell *matCellDef="let element">{{element.maxCredit}}</td>
          </ng-container>
                  <ng-container matColumnDef="interestRate">
            <th mat-header-cell *matHeaderCellDef>Interest Rate</th>
            <td mat-cell *matCellDef="let element">{{element.interestRate}}</td>
          </ng-container>
                  <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef>Active</th>
            <td mat-cell *matCellDef="let element">{{element.active}}</td>
          </ng-container>
                  <ng-container matColumnDef="recommendedScore">
            <th mat-header-cell *matHeaderCellDef>Recommended Score</th>
            <td mat-cell *matCellDef="let element">{{element.recommendedCreditScore}}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <a [routerLink]="['view',element.id]" >
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
                </a>|
                <a [routerLink]="['edit',element.id]" >
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="edit"></mat-icon>
                </a>|
                <a [routerLink]="['delete',element.id]" >
                  <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="delete"></mat-icon>
                </a>|
      
            </td>
          </ng-container>
         
         
          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns:displayColumns"></tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5,10,15,20]"
        showFirstLastButtons></mat-paginator>
    </mat-card-content>
  </mat-card>